body {
  background-color: black;
}

.wind {
  display: flex;
  align-items: center;
  height: 95vh;
}

.wraper {
  border-radius: 3rem;
  background-color: #111111;
  height: 9rem;
  width: fit-content;
  margin: auto;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
}

#clock {
  font-family: "Montserrat", sans-serif;
  font-size: 9rem;
  /* color: #13542d; */
  color: #498553;
  text-align: center;
  align-self: center;
}

#semicolon {
  vertical-align: 6%;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 750ms;
}

.hidden {
  opacity: 0.1;
}
